<div data-sly-use.obj3="com.DailyTasks.core.models.Task3">
    <p>Path of the logo: ${obj3.path}</p>
    <img 
        data-sly-test="${obj3.path}" 
        src="${obj3.path @ context='uri'}" 
        alt="Logo mobile Image" 
        style="max-width: 300px;">
    <p>Link: <a href="${obj3.link @ context='uri'}" target="_blank">${obj3.link}</a></p>
    <p>Enable Switch: ${obj3.checkbox ? "Enabled" : "Disabled"}</p>

    <div data-sly-list="${obj3.multifield}">
        <div>
            <p>Enter name: ${item.fname}</p>
            <img 
                data-sly-test="${item.image}" 
                src="${item.image @ context='uri'}" 
                alt="Image" 
                style="max-width: 300px;">
        </div>
    </div>

   <div data-sly-list="${obj3.multi}">
    <div>
        <p>Desktop Icon: ${item.desktopIcon}</p>
        <p>Mobile Icon: ${item.mobileIcon}</p>
        
    </div>
   </div>

   <p>Select country: ${obj3.country}</p>
</div>
